@import 'variables'
body
  font-family fontFamily
header, footer
  position absolute
  left 0
  right 0
  background green-11
  line-height btn-height
  z-index 1
  text-align center
  color gray-1
  font-size 20px

header
  top 0

footer
  bottom 0

.main-wrapper
  position absolute
  top 0
  bottom 0
  padding 44px 0
  overflow-y auto
  -webkit-overflow-scrolling touch //ios原生滚动回调效果
  p
    line-height 24px