@import 'variables'

//base
html
  font-family fontFamily
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  color gray-8

body
  margin 0
  background gray-3
  vendor user-select none

ul
  margin 0
  padding 0
  list-style none
  
[v-cloak]
  display none

#main
  width 100%
.chart-wrapper .nav
  li
    display inline-block
    width 20%
    text-align center
    line-height 32px
    font-size font-14
    &.active
      color gray-1
      background blue-3
      border-radius 999px
 .no-data
   font-size font-14
   color gray-7
   text-align center     
      
  
  