//item list
.item
  display inline-block
  margin 0 12px 12px 0
  padding 12px
  background #43a08d
  color #fff
  h4
    font-size 16px
  p
  font-size:14px;

//pagination
.hide,template,[v-cloak]
  display none
ul li
  list-style none
a
  text-decoration none
.pagination li 
  display inline-block
.pagination li
  a, span
    padding 0 12px
    color #5f5f68
    font-size 14px
  a
    border 1px solid #43a08d
    border-radius 999px
  &:not(:last-child), span
    margin-right 8px
  a.active
    background #43a08d
    color #fff