@import 'variables'
body
  font-family fontFamily
header,footer
  line-height norm-height
  background green-1
  color gray-1
  text-align center

.main-wrapper
  max-width 1190px
  margin 0 auto
  min-height 600px
  h2,ul
    margin gap-12 0
  ul
    margin-top 24px
a
  text-decoration none
  color green-1