@import 'variables'
body
  font-family fontFamily
header,footer
  line-height btn-height
  background green-11
  text-align center
  a
    color gray-1

.main-wrapper
  max-width 1190px
  margin 0 auto
  min-height 600px
  h2,ul
    margin gap-12 0
  ul
    margin-top 24px
    li
      line-height 30px
      a
        color green-11
  a
    text-decoration none
    color green-1